torch==2.1.2
transformers>=4.38.1
bitsandbytes>=0.41.1
accelerate==0.27.2
langchain
pydantic
jsonschema==4.21.1
yfinance==0.2.36
pandas==2.2.0
ninja==1.11.1.1
# flash-attn==2.5.5
protobuf
sentencepiece
art

https://github.com/abetlen/llama-cpp-python/releases/download/v0.2.90-cu121/llama_cpp_python-0.2.90-cp310-cp310-win_amd64.whl
langchain-community
langgraph
langchain-mcp
gradio
nodejs-bin[cmd]
uv